body {
    background-color: black;
    color: white;
    font-family: 'Zen Antique', serif;
}

#BookFlix {
    color: crimson;
    font-size: 50px;
}

#titulo {
    color: blue;
}
.video {
    height: 35vw;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: rgb(88, 223, 133);
    font-size: 35px;
}

strong {
    color: rgb(117, 161, 211);
    font-size: 28px;
}

em {
    display: flex;
    justify-content: center;
    align-items: center;
}

#conjunto {
    display: flex;
}

.Enlaces {
    font-size: 2vw;
    color: white;
    text-decoration-line: none;
}

